@import './common.scss';

/* 상품창 */

.item .inner {

}
.item .inner .title {
  color: white;
  font-size: 30px;
  font-family: "Motiva Sans", Sans-serif;
  margin: 20px 0;
}
.item .inner .item-box {
  display: flex;
  margin-bottom: 80px;
}
.item .inner .item-box .item-content {
  width: 600px;
}
.item .inner .item-box .item-content img{
  width: 100%;
}
.item .inner .item-box .item-info {
  color: #c6d4df;
  box-sizing: border-box;
  padding: 50px;
  flex-grow: 1;
}
.item .inner .item-box .item-info p {
  margin: 0;
}
.item .inner .item-box .item-info .text{
  display: flex;
  align-items: center;
}
.item .inner .item-box .item-info .subtitle{
  color: #556772;
  min-width: 100px;
}
.item .inner .item-box .item-info .result {
  color: #66c0f4;
  font-size: 20px;
}
.item .inner .item-buy {
  position: relative;
  display: flex;
  height: 60px;
  padding: 0 40px;
  background-color: #42515f;
}
.item .inner .item-buy button {
  font-size: 18px;
  margin: 10px;
  color: #b9dc88;
  background-color: #75b022
}
.item .inner .item-buy .price {
  color: #97c0d7;
  font-size: 20px;
  position: absolute;
  height: 40px;
  right: 40px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  display: flex;
  align-items: center;
}

/* 유튜브창 */

.info .inner {

}
.info .inner .info-youtube {
  margin-top: 100px;
}
.info .inner .info-youtube iframe {
  width: 100%;
  height: 675px;
}
.info .inner .info-explain {
  margin: 50px 0;
  color: #c6d4df;
}
.info .inner .info-explain p {
  border-bottom: 1px solid #396d8a;
  padding-bottom: 10px;
  color: #c6d4df;
}